Repository wafflestudio/csereal-server, pull requests merged in 2023-07, with the labels that each got.

#2 chore: PR 템플릿 생성
  .github/pull_request_template.md
Labels: Chore

#1 Feature/post1.0 feat: 공지사항 생성, 공지사항 읽기 기능 추가
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/compiler.xml
  .idea/jarRepositories.xml
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/vcs.xml
  build.gradle.kts
  src/main/kotlin/com/wafflestudio/csereal/CserealApplication.kt
  src/main/kotlin/com/wafflestudio/csereal/common/Exceptions.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/BaseTimeEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/SecurityConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/common/controller/CommonController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/api/NoticeController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/NoticeEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/NoticeRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/dto/CreateNoticeRequest.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/dto/NoticeDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/service/NoticeService.kt
Labels: Feat: API, Feat: Logic

#4 feat: 로컬 db용 설정
  docker-compose-local.yml
  src/main/resources/application.yaml
Labels: Feat: DB

#3 feat: 공지사항 수정, 삭제, 태그 기능 추가
  build.gradle.kts
  src/main/kotlin/com/wafflestudio/csereal/common/config/CserealExceptionHandler.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/api/NoticeController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/NoticeEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/NoticeTagEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/NoticeTagRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/TagEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/TagRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/dto/CreateNoticeRequest.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/dto/NoticeDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/dto/UpdateNoticeRequest.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/service/NoticeService.kt
  src/main/resources/application.yaml
Labels: Feat: API, Feat: Logic

#8 feat: 구성원(교수) 생성 및 조회 API 구현
  src/main/kotlin/com/wafflestudio/csereal/common/Exceptions.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/ProfessorController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/CareerEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/EducationEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/ProfessorEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/ProfessorRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/ResearchAreaEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/CareerDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/EducationDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/ProfessorDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/SimpleProfessorDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/service/ProfessorService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/LabEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/LabRepository.kt
Labels: Feat: API, Feat: Logic
