Repository wafflestudio/csereal-server, pull requests merged in 2023-08, with the labels that each got.

#9 feat: 구성원(교수) 수정 및 삭제 API
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/ProfessorController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/CareerEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/EducationEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/ProfessorEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/CareerDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/EducationDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/ProfessorDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/service/ProfessorService.kt
Labels: Feat: API, Feat: Logic

#14 hotfix: 사용하지않는 Dto 및 엔티티 삭제
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/CareerEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/EducationEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/CareerDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/EducationDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/TagEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/TagRepository.kt
Labels: Hotfix

#18 [Hotfix] Fix Dockerfile
  Dockerfile
Labels: Hotfix, CICD

#27 feat: oidc 로그인
  .github/workflows/deploy.yaml
  docker-compose.yml
  src/main/kotlin/com/wafflestudio/csereal/common/Exceptions.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/CserealExceptionHandler.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/JwtConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/RestTemplateConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/SecurityConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/TaskEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/database/UserEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/database/UserRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/service/CustomOidcUserService.kt
  src/main/resources/application.yaml
Labels: Feat: API, Feat: Logic

#28 feat: 일반 예약 및 정기 예약 API
  src/main/kotlin/com/wafflestudio/csereal/common/Exceptions.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/api/ReservceController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/database/ReservationEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/database/ReservationRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/database/RoomEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/database/RoomRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/dto/ReservationDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/dto/ReserveRequest.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/service/ReservationService.kt
Labels: Feat: API, Feat: Logic

#39 feat: 예약 조회 API
  docker-compose-local.yml
  src/main/kotlin/com/wafflestudio/csereal/common/aop/Authenticated.kt
  src/main/kotlin/com/wafflestudio/csereal/common/aop/SecurityAspect.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/api/ReservceController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/database/ReservationRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/dto/ReservationDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/service/ReservationService.kt
  src/main/resources/application.yaml
Labels: Feat: API, Feat: Logic

#44 feat: 장학제도 GET API 및 장학제도 페이지 응답 수정
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/dto/ScholarshipPageResponse.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/scholarship/api/ScholarshipController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/scholarship/database/ScholarshipEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/scholarship/database/ScholarshipRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/scholarship/dto/ScholarshipDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/scholarship/dto/SimpleScholarshipDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/scholarship/service/ScholarshipService.kt
Labels: Feat: API, Feat: Logic

#45 feat: custom metadata 설정 + 리다이렉트 엔드포인트 변경
  build.gradle.kts
  src/main/kotlin/com/wafflestudio/csereal/common/config/CustomAuthenticationSuccessHandler.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/SecurityConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/common/properties/EndpointProperties.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/service/MainImageService.kt
  src/main/resources/application.yaml
Labels: Refactor

#47 feat: Top Conference List GET API
  src/main/kotlin/com/wafflestudio/csereal/core/conference/api/ConferenceController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/database/ConferenceEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/database/ConferencePageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/database/ConferencePageRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/dto/ConferenceDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/dto/ConferencePage.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/service/ConferenceService.kt
Labels: Feat: API

#48 feat: 파일 서빙, 다운로드, 삭제 API
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/api/FileController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/api/MainImageController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/service/MainImageService.kt
Labels: Feat: API

#49 feat: 공지사항 글쓴이 추가
  src/main/kotlin/com/wafflestudio/csereal/core/notice/api/NoticeController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/NoticeEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/dto/NoticeDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/service/NoticeService.kt
Labels: Refactor

#50 CI/CD: Https 적용 및 백엔드, 데이터베이스, 프록시 서버 배포 분리
  .github/workflows/database.yaml
  .github/workflows/deploy.yaml
  .github/workflows/proxy.yaml
  .gitignore
  caddy/Caddyfile
  docker-compose-backend.yml
  docker-compose-caddy.yml
  docker-compose-db.yml
  docker-compose.yml
  src/main/kotlin/com/wafflestudio/csereal/common/controller/CommonController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/AboutController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/AdmissionsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/main/api/MainController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/ProfessorController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/StaffController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/news/api/NewsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/api/NoticeController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/ResearchController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/api/ReservceController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/attachment/api/AttachmentController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/api/MainImageController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/service/MainImageService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/scholarship/api/ScholarshipController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/seminar/api/SeminarController.kt
  src/main/resources/application.yaml
Labels: Refactor, CICD
