Repository wafflestudio/csereal-server, pull requests merged in 2024-02, with the labels that each got.

#180 Feat/add language field
  src/main/kotlin/com/wafflestudio/csereal/common/properties/LanguageType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/AboutController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/AboutDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/AboutRequest.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/DirectionDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/FacilityDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/FutureCareersRequest.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/StudentClubDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/service/AboutService.kt
Labels: Feat: API, Feat: Logic, Feat: DB

#182 Refactor: Admission 언어 추가 및 리팩터링 진행
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/AdmissionsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/req/AdmissionMigrateElem.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/req/AdmissionReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/database/AdmissionsEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/database/AdmissionsPostType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/database/AdmissionsRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/dto/AdmissionsDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/dto/AdmissionsRequest.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/service/AdmissionsService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/type/AdmissionsMainType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/type/AdmissionsPostType.kt
  src/test/kotlin/com/wafflestudio/csereal/core/admissions/service/AdmissionsServiceTest.kt
Labels: Refactor, Feat: API, Feat: Logic, Feat: DB

#181 feat: academics 패키지에 language field 추가
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/AcademicsEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/CourseEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/CourseRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/dto/AcademicsDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/dto/CourseDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
Labels: Feat: API, Feat: Logic, Feat: DB

#184 Feat: Admission 검색
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/AdmissionsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/res/AdmissionSearchResElem.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/database/AdmissionsEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/database/AdmissionsRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/service/AdmissionsService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/type/AdmissionsMainType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/type/AdmissionsPostType.kt
  src/test/kotlin/com/wafflestudio/csereal/core/admissions/service/AdmissionsServiceTest.kt
Labels: Feat: API, Feat: Logic, Feat: DB

#186 Refactor: Location Entity 제거
  src/main/kotlin/com/wafflestudio/csereal/common/utils/StringListConverter.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/LocationEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/AboutDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/FacilityDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/service/AboutService.kt
Labels: Feat: DB

#188 feat: dev 로그인
  src/main/kotlin/com/wafflestudio/csereal/common/aop/SecurityAspect.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/CustomPrincipal.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/DevAuthController.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/DevAuthenticationProvider.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/MockAuthConfig.kt
Labels: Feat: API

#192 Feature: About 검색 추가
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/AboutController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/res/AboutSearchElementDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/res/AboutSearchResBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/service/AboutService.kt
  src/test/kotlin/com/wafflestudio/csereal/core/about/AboutServiceTest.kt
Labels: Feat: API, Feat: Logic, Feat: DB

#193 Refactor: Admission 검색 리펙터링
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/AdmissionsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/res/AdmissionSearchResBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/res/AdmissionSearchResElem.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/database/AdmissionsRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/service/AdmissionsService.kt
Labels: Refactor, Feat: API, Feat: DB
