Repository wafflestudio/csereal-server, pull requests merged in 2024-08, with the labels that each got.

#301 Feat: Staff 두 언어 묶어서 동작하는 V2 API 정의
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/StaffController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/CreateStaffLanguagesReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/CreateStaffReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/ModifyStaffLanguagesReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/ModifyStaffReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/res/MemberSearchResponseElement.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/v1/StaffController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/v2/StaffController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/MemberLanguageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/MemberLanguageRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/MemberSearchEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/StaffRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/StaffLanguagesDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/service/StaffService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/type/MemberType.kt
  src/test/kotlin/com/wafflestudio/csereal/core/member/service/StaffServiceTest.kt
Labels: Feat: API, Feat: Logic, Feat: DB

#302 feat: course CR v2 api
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/v1/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/v2/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/CourseEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/CourseRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/dto/CourseDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/dto/GroupedCourseDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/attachment/service/AttachmentService.kt
Labels: Feat: API, Feat: DB

#303 feat: update delete course
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/v2/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/AcademicsPostType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/CourseRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/dto/GroupedCourseDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
Labels: Feat: API

#306 Fix: remove consume type for delete mapping.
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/v2/ProfessorController.kt
Labels: Bug, Fix, Feat: API

#308 교과목 정렬, 쿠키 secure 옵션 추가
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/v2/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
  src/main/resources/application.yaml
Labels: Feat: API

#311 referrer policy 헤더 추가
  src/main/kotlin/com/wafflestudio/csereal/common/config/SecurityConfig.kt
Labels: Config

#310 Update Caddyfile
  caddy/Caddyfile
Labels: Config

#309 feat: scholarship CRUD
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/req/CreateScholarshipReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/req/UpdateScholarshipPageReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/req/UpdateScholarshipReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/v1/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/v2/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/ScholarshipEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/ScholarshipLanguageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/ScholarshipLanguageRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/ScholarshipRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
Labels: Feat: API, Feat: DB

#312 강의실 예약 제한
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/service/ReservationService.kt
Labels: Feat: Logic
