Repository wafflestudio/csereal-server, pull requests merged in 2024-07, with the labels that each got.

#288 Feat: Internal GET, PUT API 추가
  src/main/kotlin/com/wafflestudio/csereal/common/controller/ContentEntityType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/internal/api/InternalController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/internal/database/InternalEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/internal/database/InternalRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/internal/dto/InternalDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/internal/service/InternalService.kt
  src/test/kotlin/com/wafflestudio/csereal/core/internal/service/InternalServiceTest.kt
Labels: Feat: API, Feat: Logic, Feat: DB

#289 Feat: Main API에서 중요 공지 갯수 optional하게 전달하도록 수정
  src/main/kotlin/com/wafflestudio/csereal/core/main/api/MainController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/main/service/MainService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/news/database/NewsRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/database/NoticeRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/seminar/database/SeminarRepository.kt
Labels: Feat: API

#291 Feat: 안전한 파일 제거 method 추가
  src/main/kotlin/com/wafflestudio/csereal/core/news/service/NewsService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/service/NoticeService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/service/ResearchService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/attachment/service/AttachmentService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/common/event/FileDeleteEvent.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/common/service/CommonFileService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/service/MainImageService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/seminar/service/SeminarService.kt
Labels: Feat: Logic

#292 Feat: Staff 수정 API 추가
  src/main/kotlin/com/wafflestudio/csereal/common/config/OpenApiConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/common/enums/LanguageType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/StaffController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/CreateStaffReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/ModifyStaffReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/MemberSearchEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/StaffDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/service/StaffService.kt
  src/test/kotlin/com/wafflestudio/csereal/core/member/service/StaffServiceTest.kt
Labels: Feat: API, Feat: Logic

#294 update api for single html page
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/req/UpdateSingleReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/attachment/service/AttachmentService.kt
Labels: Feat: API, Feat: Logic

#298 스프링 세션 설정 변경
  src/main/kotlin/com/wafflestudio/csereal/common/config/SecurityConfig.kt
  src/main/resources/application.yaml
Labels: Fix, Config

#296 Feat: Professor 수정 API 추가
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/ProfessorController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/CreateProfessorReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/req/ModifyProfessorReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/database/ProfessorEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/dto/ProfessorDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/service/ProfessorService.kt
  src/test/kotlin/com/wafflestudio/csereal/core/member/service/ProfessorServiceTest.kt
  src/test/kotlin/com/wafflestudio/csereal/core/reseach/service/ResearchSearchServiceTest.kt
Labels: Feat: API, Feat: Logic

#300 feat: CUD year response
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/req/CreateYearReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/req/UpdateYearReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/AcademicsEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/AcademicsRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
Labels: Feat: API
