Repository wafflestudio/csereal-server, pull requests merged in 2024-09, with the labels that each got.

#314 feat: 소개 탭 CRUD
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/req/CreateClubReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/req/CreateCompanyReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/req/CreateFacReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/req/UpdateAboutReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/req/UpdateClubReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/req/UpdateDescriptionReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/req/UpdateFacReq.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/v1/AboutController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/v2/AboutController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutLanguageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutLanguageRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/CompanyRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/AboutDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/GroupedClubDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/dto/StudentClubDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/service/AboutService.kt
  src/main/resources/application.yaml
Labels: Feat: API, Feat: DB

#315 Feat: Research Group & Center 언어포함 CRUD 생성
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/req/CreateResearchLanguageReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/req/ModifyResearchLanguageReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/res/ResearchSearchResElement.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/v1/ResearchController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/v2/ResearchController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/LabEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchLanguageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchLanguageRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchPostType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchSearchEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/dto/LabDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/dto/ResearchDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/dto/ResearchLanguageDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/service/ResearchService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/type/ResearchType.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/attachment/database/AttachmentEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/attachment/service/AttachmentService.kt
  src/test/kotlin/com/wafflestudio/csereal/core/member/service/ProfessorServiceTest.kt
  src/test/kotlin/com/wafflestudio/csereal/core/reseach/service/ResearchSearchServiceTest.kt
  src/test/kotlin/com/wafflestudio/csereal/core/reseach/service/ResearchServiceTest.kt
Labels: Refactor, Feat: API, Feat: Logic, Feat: DB

#318 Refactor: PUT API newImage => newMainImage 수정
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/v2/ProfessorController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/v2/StaffController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/v2/ResearchController.kt
Labels: Feat: API

#319 Feat: Lab CRUD
  src/main/kotlin/com/wafflestudio/csereal/core/member/service/ProfessorEventService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/service/ProfessorService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/req/CreateLabLanguageReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/req/ModifyLabLanguageReqBody.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/v1/ResearchController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/v2/ResearchController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/LabEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/LabRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchLanguageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchLanguageRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/database/ResearchRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/dto/LabDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/dto/LabLanguageDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/event/LabCreatedEvent.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/event/LabDeletedEvent.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/event/LabModifiedEvent.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/service/LabEventService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/service/LabService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/service/ResearchEventService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/service/ResearchSearchService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/service/ResearchService.kt
  src/test/kotlin/com/wafflestudio/csereal/core/reseach/service/ResearchSearchServiceTest.kt
Labels: Refactor, Feat: API, Feat: Logic, Feat: DB

#321 cascade 제거
  src/main/kotlin/com/wafflestudio/csereal/core/about/database/AboutLanguageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/service/AboutService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/database/ScholarshipLanguageEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/service/AcademicsService.kt
Labels: Fix
