Repository wafflestudio/csereal-server, pull requests merged in 2025-02, with the labels that each got.

#336 Config: Implement Flyway for db migration
  .gitignore
  build.gradle.kts
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1__init.sql
  src/main/resources/db/migration/V2__create_council.sql
Labels: Feat: DB, Config

#335 학생회 활동보고 crud
  src/main/kotlin/com/wafflestudio/csereal/core/council/api/v2/CouncilController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/database/CouncilEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/database/CouncilRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/dto/ReportDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/service/CouncilService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/mainImage/service/MainImageService.kt
  src/main/resources/db/migration/V3__update_council.sql
Labels: Feat: API

#337 CouncilIntro RU api
  src/main/kotlin/com/wafflestudio/csereal/core/council/api/v2/CouncilController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/database/CouncilRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/dto/CouncilIntroDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/dto/ReportDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/service/CouncilService.kt
Labels: Feat: API

#340 feat: 학생회 회의기록 전체 가져오기 API 추가 (+ 회의록 생성 시 년도 validation 추가)
  src/main/kotlin/com/wafflestudio/csereal/core/council/api/v2/CouncilController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/database/CouncilFileRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/service/CouncilFileService.kt
Labels: Feat: API, Feat: Logic

#341 fix: limit return size
  src/main/kotlin/com/wafflestudio/csereal/core/council/database/CouncilRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/service/CouncilService.kt
Labels: Bug, Fix

#339 Security 관련 수정 및 리팩토링
  src/main/kotlin/com/wafflestudio/csereal/common/aop/Authenticated.kt
  src/main/kotlin/com/wafflestudio/csereal/common/aop/SecurityAspect.kt
  src/main/kotlin/com/wafflestudio/csereal/common/config/SecurityConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/CustomOidcUser.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/CustomPrincipal.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/DevAuthController.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/DevAuthenticationProvider.kt
  src/main/kotlin/com/wafflestudio/csereal/common/mockauth/MockAuthConfig.kt
  src/main/kotlin/com/wafflestudio/csereal/common/utils/Utils.kt
  src/main/kotlin/com/wafflestudio/csereal/core/about/api/v2/AboutController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/academics/api/v2/AcademicsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admin/api/v2/AdminController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/admissions/api/v2/AdmissionsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/api/v2/ConferenceController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/conference/service/ConferenceService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/api/v2/CouncilController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/internal/api/v2/InternalController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/v2/ProfessorController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/member/api/v2/StaffController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/news/api/v2/NewsController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/news/service/NewsService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/api/v2/NoticeController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/notice/service/NoticeService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/recruit/api/v2/RecruitController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/research/api/v2/ResearchController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/api/v2/ReservationController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/database/ReservationRepository.kt
  src/main/kotlin/com/wafflestudio/csereal/core/reservation/service/ReservationService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/resource/common/api/FileController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/seminar/api/v2/SeminarController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/seminar/service/SeminarService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/api/v2/UserController.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/database/UserEntity.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/dto/StaffAuthResponse.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/service/CustomOidcUserService.kt
  src/main/kotlin/com/wafflestudio/csereal/core/user/service/UserService.kt
  src/main/resources/db/migration/V5__update_user.sql
  src/test/kotlin/com/wafflestudio/csereal/core/conference/service/ConferenceServiceTest.kt
  src/test/kotlin/com/wafflestudio/csereal/core/notice/service/NoticeServiceTest.kt
Labels: Refactor, Feat: API, Config

#342 add imageURL to ReportDto
  src/main/kotlin/com/wafflestudio/csereal/core/council/dto/ReportDto.kt
  src/main/kotlin/com/wafflestudio/csereal/core/council/service/CouncilService.kt
Labels: Fix
